<section class="started section">
    <div class="section-line section-line--1"></div>
    <div class="section-line section-line--2"></div>
    <div class="section-line section-line--3"></div>

    <div class="header">
        <div class="header-logo">
            <img src="img/logo.svg" alt="">
        </div>
        <div class="header-nav">
            <a href="javascript:;" class="header-nav-item btn btn--link link-hover">ОСВЕЩЕНИЕ</a>
            <a href="javascript:;" class="header-nav-item btn btn--link link-hover">ПРОФИЛИ</a>
            <a href="javascript:;" class="header-nav-item btn btn--link link-hover">ПОЛОТНА</a>
            <!-- <a href="javascript:;" class="header-nav-item btn btn--link link-hover">СВЕТИЛЬНИКИ</a>
        <div class="header-nav-wrap">
          <a href="javascript:;" class="header-nav-item btn btn--link">
            ДЕКОР
          </a>
          <div class="header-nav-submenu">
            <a href="javascript:;" class="text-small text--center d-block py-2 link-hover">Перегородки из алюминия</a>
            <a href="javascript:;" class="text-small text--center d-block py-2 link-hover">Звёздное небо</a>
            <a href="javascript:;" class="text-small text--center d-block py-2 link-hover">Световое пано</a>
            <a href="javascript:;" class="text-small text--center d-block py-2 link-hover">3D галограмма</a>
          </div>

        </div>
        <a href="javascript:;" class="header-nav-item btn btn--link link-hover">ЭЛектро КАРНИЗЫ</a>
        <a href="javascript:;" class="header-nav-item btn btn--link link-hover">УМНЫЙ ДОМ</a>
        <a href="javascript:;" class="header-nav-item btn btn--link link-hover">решения</a>
        <a href="javascript:;" class="header-nav-item btn btn--link link-hover">дизайнерам</a>
        <a href="javascript:;" class="header-nav-item btn btn--link link-hover">О НАС</a> -->
        </div>
        <div class="header-dots">
            <button class="btn btn--link -open-mobile-">
                <svg class="icon text-h6">
                    <use xlink:href="img/icons.svg#dots" />
                </svg>
            </button>
        </div>
    </div>

    <div class="mobile -mobile-">
        <div class="mobile__content -mobile-content-">
            <div class="mobile__head flex flex-align-center flex-justify-between mb-5">
                <a class="mobile__logo" href="/">
                    <img class="w-100" src="img/logo.svg" alt="">
                </a>
                <button class="mobile__close btn btn--link -close-mobile-">
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#cross" />
                    </svg>
                </button>
            </div>
            <div class="mobile__nav flex">
                <button class="mobile__item btn btn--link mb-5 -mobile-link-" data-scroll="#catalog">ОСВЕЩЕНИЕ</button>
                <button class="mobile__item btn btn--link mb-5 -mobile-link-"> ПРОФИЛИ</button>
                <button class="mobile__item btn btn--link -mobile-link-"> ПОЛОТНА</button>
            </div>
            <div class="mobile__bottom mt-auto">
                <a class="mobile__link text-body-1 text--uppercase btn btn--link w-100 p-8" href="">3D ШОУ-РУМ</a>
            </div>
        </div>
    </div>

    <div class="started-inner">
        <div class="container">
            <div class="started-title">
                Будущее <br>
                здесь и сейчас
            </div>
            <div class="started-subtitle">
                Натяжные потолки нового поколения в Сочи - неповторимость <br>
                и стиль вашего дома
            </div>
            <div class="started-subtitle">
                Современные системы освещения с возможностью голосового <br>
                управления
            </div>
            <div class="started-form">
                <div class="text-small text--uppercase mb-3">закажите выезд специалиста бесплатно</div>

                <div class="flex">
                    <input type="text" class="started-form-input" placeholder="+ 7 000 00-00-00">
                    <button class="started-form-btn btn btn--contur">заказать</button>
                </div>
            </div>
        </div>

        <div class="started-soc">
            <a href="javascript:;" class="started-soc-item btn btn--link link-hover">Vk</a>
            <a href="javascript:;" class="started-soc-item btn btn--link link-hover">Tg</a>
            <a href="javascript:;" class="started-soc-item btn btn--link link-hover">Ig</a>
        </div>

        <% if (data.title == 'index') { %>
            <div class="started-news">
                <a href="javascript:;" class="started-news-item link-hover-wrapper">
                    <div class="text-body-0 text--uppercase text--demibold mb-4 link-hover">3D ШОУ-РУМ</div>
                    <div class="text-body-2 lh-1-5">
                        Посмотрите варианты освещения <br> и профилей в нашем шоу-руме
                    </div>
                </a>
                <!-- <a href="javascript:;" class="started-news-item link-hover-wrapper">
              <div class="text-body-0 text--uppercase text--demibold mb-4 link-hover">НАШИ РАБОТЫ</div>
              <div class="text-body-2 lh-1-5">
                Посмотрите сделанные <br> нами объекты
              </div>
            </a> -->
            </div>
        <% } %>

        <% if (data.title == 'about') { %>
            <div class="started-news started-news--items">
                <a href="javascript:;" class="started-news-item started-news-item--border link-hover-wrapper">
                    <div class="text-body-0 text--uppercase text--demibold mb-6 link-hover">УТП-1</div>
                    <div class="text-body-2 lh-1-5">
                        Какой-то текст о <br> преимуществах компании
                    </div>
                </a>
                <a href="javascript:;" class="started-news-item started-news-item--border link-hover-wrapper">
                    <div class="text-body-0 text--uppercase text--demibold mb-6 link-hover">УТП-2</div>
                    <div class="text-body-2 lh-1-5">
                        Какой-то текст о <br> преимуществах компании
                    </div>
                </a>
                <a href="javascript:;" class="started-news-item started-news-item--border link-hover-wrapper">
                    <div class="text-body-0 text--uppercase text--demibold mb-6 link-hover">УТП-3</div>
                    <div class="text-body-2 lh-1-5">
                        Какой-то текст <br> преимуществах компании
                    </div>
                </a>
            </div>
        <% } %>

        <% if (data.title == 'index') { %>
            <button class="started-scroll btn btn-icon btn--contur" data-scroll="#catalog">
                <div>
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#to-down" />
                    </svg>
                    <svg class="icon">
                        <use xlink:href="img/icons.svg#to-down" />
                    </svg>
                </div>
            </button>
        <% } %>
    </div>

</section>