<% var data = {

    title: 'about'

} %>

<%= _.template(require('./html-includes/header.html').default)() %>
    <%= _.template(require('./html-includes/started.html').default)({data}) %>

        <section class="about section">
            <div class="about-description">
                <div class="about-title title">О НАС</div>
                <div class="about-description__text">
                    Мы являемся лидирующей компанией <br>
                    в г. Сочи по установке натяжных потолков <br>
                    премиум класса.
                </div>
                <div class="about-content flex">
                    <button class="about-btn btn btn--contur">ОБЗОР НАШЕГО ШОУ-РУМА</button>
                </div>
                <div class="about-img">
                    <img src="img/about-img.jpg" alt="">
                </div>
            </div>

            <form class="quiz">
                <div class="text-h4 text-md-h1 text--center text--demibold mb-10">ЗАГОЛОВОК QUIZ-ОПРОСА</div>
                <div class="quiz__content mb-10">
                    <div class="quiz__items flex flex-wrap flex-justify-between">
                        <div class="quiz__item">
                            <div class="text-body-1 text-md-body-0 text--demibold mb-6">
                                <span class="color-sec mr-2">ШАГ 1</span> Выберите бюджет потолка
                            </div>
                            <div class="flex flex-column pl-md-8">
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">эконом 390 – 800 р./м.кв.</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">стандарт 800 – 2 000 р./м.кв</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">премиум 2 000+ р./м.кв</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">премиум 5 000+ р./м.кв</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">эксклюзив 10 000+ р./м.кв</span>
                                </label>
                            </div>
                        </div>
                        <div class="quiz__item">
                            <div class="text-body-1 text-md-body-0 text--demibold mb-6">
                                <span class="color-sec mr-2">ШАГ 2</span> Выберите материал потолка
                            </div>
                            <div class="flex flex-column pl-md-8">
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">ПВХ полотно</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">негорючие ПВХ полотно</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">ткань стандарт</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">ткань премиум</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">звёздное небо</span>
                                </label>
                            </div>
                        </div>
                        <div class="quiz__item">
                            <div class="text-body-1 text-md-body-0 text--demibold mb-6">
                                <span class="color-sec mr-2">ШАГ 3</span> Выберите тип дооснащение
                            </div>
                            <div class="flex flex-column pl-md-8">
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">встраиваемые светильники</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">световые линии, ниши</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">трековая система освещения</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">управление Алисой</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">перегородка</span>
                                </label>
                                <label class="quiz__label flex flex-align-center">
                                    <input class="quiz__input mr-5" type="checkbox">
                                    <span class="quiz__text text-body-1 fade-60">электро карниз</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quiz__block flex flex-wrap flex-align-center flex-justify-between">
                    <img class="quiz__img quiz__img--1" src="img/quiz-1.jpg" alt="">
                    <div class="quiz__info flex flex-align-center flex-justify-between">
                        <img class="quiz__img quiz__img--2" src="img/quiz-2.jpg" alt=""> 
                        <div class="quiz__info-block py-10">
                            <div class="text-body-2 text-md-body-0 lh-1-5 mb-8">
                                Рамные профильные системы <br>
                                с демферным креплениями <br>
                                полотна используются для <br>
                                создания сложных узлов <br>
                                и стильных конструкций.
                            </div>
                            <button class="btn btn--contur px-8">ЗАКАЗАТЬ</button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- <form class="about-qwiz -front-form-">
                <div class="about-title title">ЗАГОЛОВОК QUIZ-ОПРОСА</div>
                <div class="about-qwiz-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="about-qwiz-slide swiper-slide">
                            <div class="about-qwiz-slide-title">Выберите бюджет потолка</div>
                            <div class="about-qwiz-slide-fields">
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="cost">
                                    <div class="about-qwiz-slide-field__content card-action waved">
                                        <div class="text-body-0 text-sm-h1 text--regular">390 – 800</div>
                                        <div class="text-body-2 text-sm-h6 text--regular">рублей / кв. м</div>
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">эконом</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="cost" checked>
                                    <div class="about-qwiz-slide-field__content card-action waved">
                                        <div class="text-body-0 text-sm-h1 text--regular">800 – 2000</div>
                                        <div class="text-body-2 text-sm-h6 text--regular">рублей / кв. м</div>
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">стандарт</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="cost">
                                    <div class="about-qwiz-slide-field__content card-action waved">
                                        <div class="text-body-0 text-sm-h1 text--regular">> 2000</div>
                                        <div class="text-body-2 text-sm-h6 text--regular">рублей / кв. м</div>
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">премиум</div>
                                </label>

                            </div>
                            <div class="about-qwiz-btns">
                                <button type="button"
                                    class="about-qwiz-btn about-qwiz-prev btn btn--contur">назад</button>
                                <button type="button"
                                    class="about-qwiz-btn about-qwiz-next btn btn--contur">ДАЛЕЕ</button>
                            </div>
                        </div>
                        <div class="about-qwiz-slide swiper-slide">
                            <div class="about-qwiz-slide-title">Выберете материал потолка</div>
                            <div class="about-qwiz-slide-fields">
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="material" checked>
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">ПВХ полотно</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="material">
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">не горючее <br class="d-sm-none"> ПВХ полотно</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="material">
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">ткань стандарт</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="material">
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">ткань премиум</div>
                                </label>
                            </div>
                            <div class="about-qwiz-btns">
                                <button type="button"
                                    class="about-qwiz-btn about-qwiz-prev btn btn--contur">назад</button>
                                <button type="button"
                                    class="about-qwiz-btn about-qwiz-next btn btn--contur">ДАЛЕЕ</button>
                            </div>
                        </div>
                        <div class="about-qwiz-slide swiper-slide">
                            <div class="about-qwiz-slide-title">Выберете тип освещения</div>
                            <div class="about-qwiz-slide-fields">
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="light" checked>
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test-2.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">встраиваемые <br class="d-sm-none"> светильники</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="light">
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test-2.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">световые линии, <br class="d-sm-none"> ниши</div>
                                </label>
                                <label class="about-qwiz-slide-field swiper-no-swiping">
                                    <input type="radio" class="about-qwiz-slide-field__input" name="light">
                                    <div class="about-qwiz-slide-field__content card-action waved image image--box">
                                        <img src="img/test-2.jpg" alt="">
                                    </div>
                                    <div class="text-body-2 text-sm-body-1 text--center mt-4">трековая система освещения</div>
                                </label>

                            </div>
                            <div class="about-qwiz-btns">
                                <button type="button"
                                    class="about-qwiz-btn about-qwiz-prev btn btn--contur">назад</button>
                                <button type="button"
                                    class="about-qwiz-btn about-qwiz-next btn btn--contur">ДАЛЕЕ</button>
                            </div>
                        </div>
                        <div class="about-qwiz-slide swiper-slide">
                            <div class="about-qwiz-slide-title">Какой-то подзаголовок</div>
                            <div class="about-qwiz-form">
                                <div class="form-field">
                                    <div class="form-input-cover">
                                        <input class="form-input about-qwiz-form-input" placeholder="Имя" name="name"
                                            type="text" required />
                                    </div>
                                </div>
                                <div class="form-field">
                                    <div class="form-input-cover">
                                        <input class="form-input about-qwiz-form-input" placeholder="Телефон"
                                            name="phone" type="tel" required />
                                    </div>
                                </div>
                            </div>

                            <label class="form-field form-checkbox about-qwiz-agree">
                                <input type="checkbox" class="form-input-checkbox" name="agree" required checked>
                                <div class="form-radio-target"> </div>
                                <div class="text-body-2 ml-2"> Согласен на обработку данных </div>

                            </label>

                            <div class="about-qwiz-btns">
                                <button type="submit" class="about-qwiz-submit btn btn--contur">ЗАКАЗАТЬ ЗВОНОК</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form> -->
        </section>

        <!-- <script>
            new Swiper('.about-qwiz-slider', {
                touchRatio: 0,
                watchSlidesProgress: true,
                navigation: {
                    prevEl: '.about-qwiz-prev',
                    nextEl: '.about-qwiz-next',
                },
                autoHeight: true

            })
        </script> -->

        <%= _.template(require('./html-includes/footer.html').default)() %>