@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	@each $key,
	$value in $colors {
		@include getColors($value, $key);
	}

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Montserrat',
	Arial,
	Helvetica,
	sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

body {
	background: var(--bg1);
	color: var(--color-text);
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background: #A7A7A3;


	* {
		font-family: var(--font-base);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

}

.wrapper {
	padding: 5px 50px 0;
	width: 100%;
	overflow: hidden;

	@media (max-width:1400px) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@media(max-width: 769px) {
		padding-top: 0;
		background-color: #000;
	}
}

.container {
	width: calc(100% - 30px);

	@media (max-width:$lg) {
		max-width: 100%;

	}
}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

[data-scroll-section] {
	will-change: contents;
}

.title {
	font-weight: 600;
	font-size: 35px;
	text-transform: uppercase;
	position: relative;
	padding-left: 18px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 5px;
		background: #FECC00;
		height: 80%;
		top: 10%;
	}

	@media(max-width: 1200px) {
		padding-right: 0;
		margin-bottom: 20px;
	}

	@media(max-width: 769px) {
		font-size: 30px;
		margin-left: -13px;
	}
}

.section {
	background: #000000;
	border-radius: 25px;
	position: relative;

	@media(max-width: 769px) {
		border-radius: 0;
	}

	&+& {
		margin-top: 36px;

		@media(max-width: 769px) {
			margin-top: 20px;
		}
	}

	&-line {
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100%;
		border-right: 1px solid #424242;

		@media (max-width:1400px) {
			display: none;
		}

		&--1 {
			left: calc(50% - $container_lg / 2);
		}

		&--2 {
			left: calc(50% - 27px);
		}

		&--3 {
			left: calc(50% + $container_lg / 2);
		}
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 80px;
		left: 0;
		bottom: -40px;
		background: radial-gradient(50% 50% at 50% 50%, rgba(56, 56, 56, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
		mix-blend-mode: multiply;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 36px;
	padding-left: 50px;
	padding-right: 50px;
	position: relative;
	z-index: 1;

	@media(max-width: 769px) {
		padding-top: 36px;
		padding-left: 18px;
		padding-right: 18px;
	}

	&-logo {
		width: calc((100% - $container_lg) / 2);

		@media (max-width:1800px) {
			width: 240px;
		}

		@media(max-width: 769px) {
			width: 150px;
		}
	}

	&-nav {
		display: flex;
		gap: 42px;
		align-items: center;
		// justify-content: center;
		flex-grow: 1;
		position: relative;
		z-index: 2;

		@media (max-width:1800px) {
			gap: 24px;
		}

		@media (max-width: 769px) {
			display: none;
		}

		&-item {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			text-transform: uppercase;
			position: relative;

			@media (max-width:1800px) {
				font-size: 13px;
			}

			&:before {
				content: '';
				position: absolute;
				inset: -21px;
				bottom: -60px;
				top: -60px;

				@media (max-width:1800px) {
					inset: -12px;
				}
			}


		}

		&-wrap {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				background: #E7DD00;
				width: 4px;
				height: 4px;
				left: calc(50% - 2px);
				bottom: -8px;
				border-radius: 50%;
			}
		}

		&-submenu {
			position: absolute;
			top: calc(100% + 14px);
			background: rgba(217, 217, 217, 0.1);
			border-radius: 5px;
			padding-top: 15px;
			padding-bottom: 20px;
			width: 146px;
			left: calc(50% - 73px);
			transition: .25s ease;
		}

		&-wrap:not(:hover):not(:focus-within) &-submenu {
			opacity: 0;
			transform: translateY(15px);
			pointer-events: none;
		}
	}

	&-dots {
		padding: 10px;
		display: none;

		@media(max-width: 769px) {
			display: block;
		}
	}
}

.mobile {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	transition: 0.3s ease;
	z-index: var(--zi-l5);
	width: 100%;
	height: 100%;
	background-color: var(--color-black-50);
	opacity: 0;
	visibility: hidden;

	&--open {
		opacity: 1;
		visibility: visible;
	}


	&__content {
		transition: 0.3s ease 0.3s;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		max-width: 390px;
		background-color: #000;
		transform: translateX(-390px);

		&--open {
			transform: translateX(0);
		}
	}


	&__head {
		padding: 36px 18px;
	}

	&__logo {
		width: 150px;
	}

	&__close {
		font-size: 30px;
	}

	&__nav {
		flex-direction: column;
		padding: 0 50px;
	}

	&__item {
		width: max-content;
	}

	&__bottom {
		padding: 50px 18px;
	}

	&__link {
		border: 1px solid #FFFFFF;
	}
}

.started {
	padding: 0;
	background: url("../img/started-bg.jpg") no-repeat center / cover, #000;
	position: relative;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	height: 980px;

	@media(max-width:$lg) {
		height: auto;

	}

	@media(max-width:$sm) {
		padding-bottom: 20px;

		.container {
			max-width: 100%;
			width: 100%;
		}
	}

	&-background {
		position: absolute;
		inset: 0;
		border-radius: inherit;
		overflow: hidden;

		&-img {
			width: 100%;
			height: 100%;
			position: relative;

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-gradient {
			position: absolute;
			inset: 0;
			z-index: 1;
			background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0));
		}
	}

	&-inner {
		position: relative;
		z-index: 2;
		flex-grow: 1;

	}

	&-content {
		padding-top: 230px;

		@media(max-width:$sm) {
			padding-top: 400px;
			display: flex;
			flex-direction: column;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	&-title {
		font-weight: 600;
		font-size: 60px;
		margin-bottom: 62px;
		position: relative;
		padding-left: 28px;
		text-transform: uppercase;

		@media(max-width: $lg) {
			font-size: 30px;
			margin-bottom: 23px;
			padding-left: 16px;
		}

		@media(max-width: $md) {
			font-size: 28px;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 5px;
			background: #FECC00;
			height: 80%;
			top: 10%;
		}
	}

	&-subtitle {
		font-size: 14px;
		position: relative;
		padding-left: 28px;

		@media(max-width:$md) {
			line-height: 1.5;
		}

		@media(max-width:$sm) {
			padding-left: 0;

			br {
				display: none;
			}
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 5px;
			background: #fff;
			height: 80%;
			top: 10%;

			@media(max-width:$sm) {
				display: none;
			}
		}

		&+& {
			margin-top: 1em;
		}
	}

	&-form {
		padding-left: 28px;
		padding-top: 60px;

		@media(max-width:$sm) {
			padding-left: 0;
			padding-top: 24px;
		}

		&-input {
			border: 1px solid #505050;
			background: none;
			color: var(--color-text);
			padding-left: 20px;
			width: 192px;
		}

		&-btn {
			border: 1px solid #505050;
			background: #1E1E1E;
			margin-left: -1px;

		}
	}

	&-scroll {
		--size: 54px;
		position: absolute;
		bottom: 42px;
		left: calc(50% - 27px);
		z-index: 3;

		@media (max-width:$lg) {
			bottom: 20px;
		}

		@media (max-width:$md) {
			display: none;
		}



		&:before {
			content: '';
			position: absolute;
			inset: -40px;

		}
	}

	&-news {
		position: absolute;
		right: 0;
		bottom: 40px;
		background: rgba(217, 217, 217, 0.1);
		backdrop-filter: blur(10px);
		padding: 40px 40px 40px 80px;
		display: flex;

		@media(max-width:1540px) {
			display: none;
		}

		&--items {
			padding: 0;
			right: 61px;

			@media(max-width: 1400px) {
				right: 10px;
				bottom: 10px;
			}
		}

		&-item {
			// &+& {
			// 	margin-left: 28px;
			// }

			&--border {
				padding: 30px;
				border: 1px solid #424242
			}
		}
	}

	&-soc {
		position: absolute;
		right: 40px;
		display: flex;
		flex-direction: column;
		top: 50%;
		transform: translateY(-50%);

		&-item {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: -28px;
				bottom: -28px;
				right: -60px;
				left: -60px;

			}

			&:first-of-type:before {
				top: -60px;

			}

			&:last-of-type:before {
				bottom: -60px;

			}

			&+& {
				margin-top: 56px;
			}
		}
	}

	&-slider {
		&-control {
			display: flex;
			align-items: center;
			margin-top: 70px;
			margin-left: -58px;

			@media(max-width:1540px) {
				margin-left: 0;
			}

			@media(max-width:$md) {
				display: none;
			}
		}

		&-btn {
			--size: 58px;
			color: #FECC00;
			font-size: 18px;

			&:disabled {
				@media(min-width:1540px) {
					opacity: 0;
				}
			}

			.icon+.icon {
				margin-left: -6px;
			}

			&+& {
				margin-left: 28px;
			}
		}

		&-next {

			&:after,
			&:before {
				content: '';
				position: absolute;
				inset: -1px;
				border: inherit;
				animation: pulse-contur 2s infinite;
			}

			&:after {
				animation-delay: .5s;
			}
		}

		&-pagination {
			position: absolute;
			left: 50px;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			flex-direction: column;
			gap: 24px;
			z-index: 3;

			@media(max-width:1540px) {
				display: none;
			}

			.swiper-pagination-bullet {
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: #FFFFFF;
				position: relative;
				cursor: pointer;
				transition: .1s;

				&:hover {
					transform: translateY(-2px);
				}

				&:after {
					content: '';
					position: absolute;
					inset: -12px;
				}

				&:before {
					content: '';
					position: absolute;
					left: calc(100% + 3px);
					bottom: 100%;
					width: 24px;
					height: 5px;

					background: #FECC00;
					transition: .25s ease;
					transform: scaleX(0);
					transform-origin: left;
				}

				&-active {
					&:before {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	&-next {
		&-slider {
			height: 100px;
		}

		&-slide {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&-hand {
		width: 56px;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 380px;
		right: 20px;
		z-index: 4;
		pointer-events: none;


		&:after,
		&:before {
			content: '';
			position: absolute;
			inset: 0;
			border: 2px solid #fff;
		}

		&:before {
			border: none;
			border-right: 2px solid #fff;
			animation: slide 2s ease infinite;
		}

		@media(min-width:$md) {
			display: none;
		}

		&-img {
			display: block;
			animation: hand 2s ease infinite;
		}
	}

	@media(max-width: 1000px) {
		&-soc {
			top: 80%;
		}
	}

	@media(max-width: 769px) {
		margin-left: -20px;
		margin-right: -20px;

		&-title {}
	}

	@media(max-width: 576px) {
		background-image: url('../img/started-bg-mob.png');

		&-soc,
		&-scroll {
			display: none;
		}

		&-form {
			&-input {
				width: 100%;
			}
		}
	}
}

@keyframes hand {
	50% {
		transform: translateX(-20px);
	}
}

@keyframes slide {
	50% {
		opacity: 1;
	}

	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes pulse-contur {
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

.catalog {
	background: url("../img/catalog-bg.jpg") no-repeat center top / 100% auto, #000;
	padding: 92px 48px;

	@media(max-width: 769px) {
		padding-top: 40px;
		padding-left: 13px;
		padding-right: 13px;
		padding-bottom: 26px;
		background: #1E1E1E;
		border-radius: 25px;
	}

	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 48px;

		@media(max-width: 1200px) {
			flex-direction: column;
			align-items: flex-start;
		}

		@media(max-width: 769px) {
			margin-bottom: 30px;
		}

	}

	&-title {
		font-weight: 600;
		font-size: 35px;
		text-transform: uppercase;
		position: relative;
		padding-left: 18px;
		min-width: calc((100% - $container_lg) / 2);
		padding-right: 80px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 5px;
			background: #FECC00;
			height: 80%;
			top: 10%;
		}

		@media(max-width: 1200px) {
			padding-right: 0;
			margin-bottom: 20px;
		}

		@media(max-width: 769px) {
			font-size: 30px;
			margin-left: -13px;
		}
	}

	&-nav {
		display: flex;
		gap: 54px;

		&-item {
			text-transform: none;
			position: relative;

			&:not(.active) {
				opacity: .6;
			}

			&.active:before {
				content: '';
				position: absolute;
				background: #E7DD00;
				width: 4px;
				height: 4px;
				left: calc(50% - 2px);
				bottom: -8px;
				border-radius: 50%;

				@media(max-width: 769px) {
					left: -10px;
					bottom: 6px;
				}
			}

			@media(max-width: 769px) {
				font-size: 14px;
			}
		}

		@media(max-width: 769px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
	}

	&-filter {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 50px;

		@media(max-width: 576px) {
			gap: 25px;
		}

		&__item {
			opacity: 0.6;
			font-weight: 400;
			text-transform: none;
			font-size: 14px;

		}
	}

	&-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 32px 78px;
		position: relative;
		z-index: 1;

		@media(max-width: 1200px) {
			grid-gap: 30px;
		}

		@media(max-width: 769px) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 10px;
		}
	}

	&-item {
		cursor: pointer;

		&__img {
			@media(max-width: 769px) {
				margin-bottom: 10px;
			}
		}

		&-title {
			@media(max-width: 380px) {
				font-size: 10px;
			}
		}
	}

	&-btn {
		margin: 0 auto;
		margin-top: 100px;
		width: max-content;
		border: 1px solid #505050;

		@media(max-width: 576px) {
			margin: 0;
			margin-top: 35px;
			width: 100%;
		}
	}
}

.dialog-product {
	width: 1800px;
	max-width: 100%;
	background: #000000;
	display: flex;
	border-radius: 25px;
	padding: 36px;

	&-gallery {
		width: 45%;
		margin-right: 150px;
		position: relative;
	}

	&-thumbs {
		position: absolute;
		right: 32px;
		bottom: 32px;
	}

	&-thumb {
		width: 120px;
		cursor: pointer;
	}

	&-content {
		padding-top: 40px;
	}

	&-title {
		font-weight: 600;
		font-size: 35px;
		margin-bottom: 24px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -22px;
			width: 5px;
			background: #FECC00;
			height: 80%;
			top: 10%;
		}
	}

	&-desc {
		line-height: 2;
	}

	&-btn {
		background: #141414;
		border: 1px solid #505050;
		margin-top: 80px;
	}

	&-color {
		display: flex;
		gap: 24px;

		&-item {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			border: 3px solid #fff;
		}
	}

	@media(max-width: 1800px) {
		& {
			width: 1200px;
		}

		&-gallery {
			margin-right: 80px;
			min-height: 700px;
		}

		&-thumbs {
			right: 0;
			bottom: 50px;
		}

		&-content {
			padding-top: 0;
		}
	}

	@media(max-width: 1200px) {
		& {
			flex-direction: column;
			width: 380px;
			padding: 40px 18px;
			border-radius: 0;
		}

		&-gallery {
			width: 100%;
			min-height: 450px;
			margin-right: 0;
			margin-bottom: 30px;
		}

		&-thumbs {
			left: 0;
			bottom: 0;
		}

		&-thumb {
			width: 86px;
			left: 0;
		}

		&-title {
			font-size: 24px;
			margin-left: 18px;
		}

		&-btn {
			margin-top: 50px;
		}
	}

	@media(max-width: 380px) {
		& {
			width: 320px;
		}

		&-gallery {
			min-height: 380px;
		}
	}
}

.dialog-submit {
	background-color: #000;
	border-radius: 25px;
	width: 360px;
	padding: 60px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__img {
		width: 56px;
		margin-bottom: 20px;
	}

	&__title {
		font-weight: 600;
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 20px;
		text-align: center;
	}

	@media(max-width: 360px) {
		& {
			width: 320px;
			padding: 50px 20px;
		}
	}
}

.dialog-politic {
	background-color: #000;
	border-radius: 25px;
	padding: 43px 57px;
	width: 990px;

	&__title {
		font-weight: 600;
		font-size: 35px;
		text-transform: uppercase;
		margin-bottom: 35px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -22px;
			width: 5px;
			background: #FECC00;
			height: 80%;
			top: 10%;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		opacity: 0.8;
	}

	@media(max-width: 990px) {
		& {
			width: 425px;
			padding: 60px 18px;
		}

		&__title {
			font-size: 20px;
			margin-bottom: 20px;
			margin-left: 18px;

			& br {
				display: none;
			}
		}

		&__text {
			font-size: 14px;
			line-height: 20px;
		}
	}

	@media(max-width: 425px) {
		& {
			width: 320px;
		}

		&__title {
			font-size: 16px;
		}
	}
}

.dialog-form {
	background-color: #000;
	border-radius: 25px;
	width: 360px;
	display: flex;
	flex-direction: column;
	padding: 43px 50px;

	&__title {
		font-weight: 600;
		font-size: 35px;
		text-transform: uppercase;
		margin-bottom: 35px;
		position: relative;
		margin-left: 22px;

		&:before {
			content: '';
			position: absolute;
			left: -22px;
			width: 5px;
			background: #FECC00;
			height: 80%;
			top: 10%;
		}
	}

	&__btn {
		background: #1E1E1E;
	}

	@media(max-width: 360px) {
		& {
			width: 320px;
			padding: 50px 18px;
		}

		&__title {
			margin-bottom: 20px;
		}
	}
}

.footer {
	display: flex;
	padding: 72px 56px 48px;
	border-radius: 25px 25px 0px 0px;

	@media(max-width: 1500px) {
		flex-direction: column;
		// align-items: center;
		// justify-content: center;
	}

	@media(max-width: 769px) {
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		padding-top: 60px;
	}

	&-info {
		flex-grow: 2;
	}

	&-soc {
		display: flex;
		align-items: center;
		margin-top: 60px;
		margin-bottom: 90px;

		@media(max-width: 769px) {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		&-item {
			margin: 0 30px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				inset: -20px;

			}
		}
	}

	&-content {
		flex-grow: 3;

		& .grid {
			@media(max-width: 1500px) {
				display: none;
			}
		}
	}

	&-bottom {
		display: flex;
		// justify-content: flex-end;
		// align-items: flex-end;
		margin-top: 40px;
	}

	&-news {
		display: flex;

		&-item {
			--size: 74px;
			width: 282px;
			justify-content: flex-start;

			&+& {
				margin-left: -1px;
			}
		}
	}
}


.about {
	padding: 0;
	overflow: hidden;
	margin-bottom: 20px;

	@media (max-width:769px) {
		// border-top: 1px solid #C8C8C8;
	}

	@media (max-width:769px) {
		overflow: visible;
	}

	&-description {
		position: relative;
		height: 588px;
		padding: 0 72px;
		padding-top: 96px;
		display: flex;
		flex-direction: column;

		@media (max-width:1800px) {
			height: auto;
			margin-bottom: 60px;
		}

		@media (max-width:$lg) {
			padding: 0 20px;
			padding-top: 40px;
		}

		@media (max-width:$md) {
			padding-bottom: 40px;
		}

		@media (max-width:$sm) {
			padding: 20px 0;
			margin-bottom: 40px;
		}

		&__text {
			font-size: 20px;
			line-height: 1.5;

			@media (max-width:1800px) {
				order: -20;
				margin-bottom: 1em;
			}

			@media (max-width:$lg) {
				font-size: 16px;
			}

			@media (max-width:$md) {
				font-size: 14px;

				br {
					display: none;
				}
			}
		}
	}

	&-content {
		@media (max-width:$sm) {
			flex-wrap: wrap;
			gap: 8px;
			margin-top: 24px;
		}
	}

	&-btn {
		background: #1E1E1E;
		border: 1px solid #C8C8C8;
		font-size: 20px;
		height: 40px;
		padding: 8px 13px;
		// margin-top: 100px;
		text-transform: none;


		@media(max-width: $md) {
			// margin-top: 50px;
			font-size: 16px;
		}

		@media (max-width:$sm) {
			margin: 0;
			font-size: 14px;
			padding: 0 4px;
			flex-grow: 1;
			flex-basis: calc(50% - 8px);
		}

		&+& {
			margin-left: 12px;

			@media (max-width:$sm) {
				margin: 0;
			}
		}
	}

	&-img {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;

		img {
			height: 100%;
		}

		@media (max-width:1800px) {
			position: relative;
			height: auto;
			width: 100%;
			margin: 0 auto;
			margin-top: 40px;
			max-width: 1000px;
			order: -10;

			img {
				height: auto;
			}
		}

		@media (max-width:$md) {
			margin-top: 0;
			margin-bottom: 30px;
		}

		@media (max-width:$sm) {
			width: calc(100% + 120px);
			margin-left: -50px;
		}
	}

	&-title {
		margin-bottom: 86px;
		margin-left: -18px;

		@media (max-width:1800px) {
			order: -30;
		}

		@media (max-width:$lg) {
			margin-left: 0;
			margin-bottom: 60px;
		}

		@media (max-width:$md) {
			margin-bottom: 40px;
		}
	}

	&-qwiz {
		background: #262626;
		padding: 72px 72px 90px;
		position: relative;
		z-index: 5;

		@media (max-width:$lg) {
			padding: 40px 20px;
		}

		@media (max-width:769px) {
			width: calc(100% + 40px);
			padding-left: 20px;
			padding-right: 20px;
			margin-left: -20px;
		}

		&-slide {
			align-self: flex-start;

			&-title {
				font-weight: 600;
				font-size: 35px;
				margin-bottom: 72px;
				text-align: center;

				@media (max-width:769px) {
					font-size: 24px;
					margin-bottom: 36px;
				}
			}

			&-fields {
				display: flex;
				justify-content: space-between;
				margin: 0 auto;
				width: 1140px;
				max-width: 100%;

				@media (max-width:$lg) {
					flex-wrap: wrap;
					gap: 40px;
					justify-content: center;
				}

				@media (max-width:$sm) {
					gap: 15px;
				}
			}

			&-field {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;

				&__content {
					width: 261px;
					height: 261px;
					border: 1px solid #C8C8C8;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;

					@media (max-width:$sm) {
						width: 140px;
						height: 140px;

					}

					img {
						transition: .15s ease;
					}
				}

				&__input {
					position: absolute;
					z-index: -10;
					opacity: 0;
				}

				&__input:checked+&__content {
					background: #000000;
					border: 1px solid #FECC00;

					img {
						opacity: .6;
					}
				}
			}
		}

		&-btns {
			display: flex;
			justify-content: center;
		}

		&-btn {
			width: 150px;
			margin-top: 80px;

			&+& {
				margin-left: 16px;
			}
		}

		&-form {
			width: 590px;
			max-width: 100%;
			margin: 0 auto;
			display: grid;
			grid-gap: 40px;

			&-input {
				height: 70px;
				background: none;
				text-align: center;
			}
		}

		&-agree {
			width: max-content;
			max-width: 100%;
			margin: 0 auto;
			margin-top: 60px;
		}

		&-submit {
			width: 180px;
			margin-top: 80px;
		}
	}

}

.quiz {
	position: relative;
	border: 1px solid #C8C8C8;
	margin: 50px;
	margin-top: 0;
	padding: 60px 145px;

	@media(max-width: 1200px) {
		margin: 20px;
		padding: 50px;
	}

	@media(max-width: $lg) {
		background: #1E1E1E;
		border-radius: 25px;
		padding: 32px 16px 22px;
		border: none;
		display: flex;
		flex-direction: column;

	}

	@media(max-width: $md) {
		margin: 0;
		border: none;
	}

	&__content {
		@media(max-width: $lg) {
			order: 10;
		}
	}

	&__items {
		grid-gap: 30px;
		gap: 30px;
	}

	&.toggle-active &__items {
		display: none;
	}

	&__item {
		@media(max-width: $lg) {
			width: 100%;

			&:not(.tab-active) {
				display: none;
			}
		}
	}

	&__label {
		position: relative;

		@media(max-width: $lg) {
			border: 1px solid #C8C8C8;
			padding: 0 8px;
			min-height: 42px;
			justify-content: center;
			flex-direction: column;
			text-align: center;
		}

		&+& {
			margin-top: 14px;

		}

		&-text {
			margin-top: 8px;
			color: #C8C8C8;
			display: none;
			font-size: 12px;
		}

		&-btn {
			margin-top: 12px;
			color: #000000;
			width: calc(100% + 16px);
			margin-left: -8px;
			align-self: flex-start;
			display: none;

		}
	}

	&__input {
		position: relative;
		appearance: none;
		min-width: 32px;
		width: 32px;
		height: 32px;
		background: none;
		border: 1px solid #C8C8C8;
		cursor: pointer;

		@media(max-width: $lg) {
			display: none;

		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: var(--color-sec);
			opacity: 0;
			transition: 0.3s opacity ease;
		}

		&:checked {
			&::after {
				opacity: 1;
			}

			&+.quiz__text {
				opacity: 1;
			}
		}
	}

	&__input:checked~&__label {
		&-btn {
			display: flex;
		}

		&-text {
			display: block;
		}
	}

	&__input:checked~&__text {
		@media(max-width: $lg) {
			&:before {
				content: '';
				position: absolute;
				inset: -1px;
				border: 1px solid #FECC00;
			}
		}
	}

	&__packs {
		grid-gap: 30px;
		gap: 30px;

		@media(max-width: $md) {
			grid-gap: 10px;
			gap: 10px;
			margin-bottom: 10px;
			position: relative;
		}
	}

	&.toggle-active &__packs {
		@media(max-width: $lg) {
			display: none;
		}
	}

	&__pack {
		position: relative;
		overflow: hidden;
		height: 322px;

		@media(max-width: 1850px) {
			max-width: 100%;

		}

		@media(max-width: 1200px) {
			height: 250px;

		}

		@media(max-width: $md) {
			height: 216px;
			flex: 1;
		}

		&--1 {
			flex: 2;
		}

		&--2 {
			flex: 1;

			@media(max-width: $md) {
				position: absolute;
				right: 15px;
				top: 15px;
				width: 107px;
				height: 107px;
				border: 1px solid #fff;
			}
		}

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__block {
		@media(max-width: 1850px) {
			flex-wrap: wrap;
		}
	}

	&__info {
		background: #1E1E1E;
		padding-left: 110px;
		padding-right: 60px;
		width: 500px;
		min-width: 500px;

		@media(max-width: 1850px) {
			padding: 30px;
			min-width: 0;
			max-width: 100%;
			width: 100%;
		}

		@media(max-width: $lg) {
			display: none;
		}
	}

	&.toggle-active &__info-btn {
		opacity: .4;
		pointer-events: none;
	}

	&__text {
		@media(max-width: $lg) {
			margin-top: 12px;
			margin-bottom: 12px;
		}
	}

	&:not(.toggle-active) &-form {
		display: none;
	}

	&-form {
		background: #1E1E1E;
		padding: 32px;

		@media(max-width: $lg) {
			padding: 0;
		}

		&-inputs {
			display: flex;
			gap: 30px;

			@media(max-width: 1600px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-bottom: 36px;
			}

			@media(max-width: $md) {
				grid-template-columns: 1fr;
				grid-gap: 16px;
			}
		}

		&-input {
			width: 300px;

			.form-input {
				background: none;
			}

			@media(max-width: 1600px) {
				width: auto;
			}
		}

		&-messangers {
			display: flex;
			gap: 16px;
		}

		&-messanger {
			width: 180px;
			border: 1px solid #505050;
			padding: 7px 16px;

			@media(max-width: $md) {
				width: auto;
				flex-grow: 1;
			}

			.form-radio-target {
				background: #505050;
				width: 24px;
				height: 24px;
				border-radius: 50%;

				&:before {
					width: 12px;
					height: 12px;
					background: rgba(255, 255, 255, 0.6);
				}
			}
		}

		&-btn {
			margin-top: auto;
			background: #121212;
			margin-left: 30px;
		}

		&-content {
			display: flex;
			gap: 30px;
		}

		&-files {
			position: relative;

			@media(max-width: 1600px) {
				grid-column: 1/-1;
				padding-top: 0;
			}

			&-list {
				display: flex;
				flex-direction: column;
				gap: 8px;
				margin-top: 10px;

				@media(min-width: 1600px) {
					margin-top: 0;
					max-height: 120px;
					overflow: auto;
					position: absolute;
					left: 0;
					width: 100%;
					top: calc(100% + 10px);
				}
			}

			&-item {
				opacity: .6;
				display: flex;
				align-items: center;

			}
		}

		&-file-input {
			display: flex;
			align-items: center;
		}
	}


}

.projects {
	--padding: 72px;
	padding: 84px var(--padding);
	margin-bottom: 48px;
	overflow: hidden;

	@media(max-width: 769px) {
		--padding: 20px;
	}

	@media(max-width: $sm) {
		// padding-left: 0;
		// padding-right: 0;
		width: calc(100% + 40px);
		margin-left: -20px;
		--padding: 18px;
		padding-bottom: 60px;
		margin-bottom: 0;
	}

	.running-line {
		margin-bottom: 92px;
		width: calc(100% + var(--padding) + var(--padding));
		margin-left: calc(-1 * var(--padding));

		@media(max-width:1240px) {
			margin-bottom: 60px;
		}
	}

	&-slider {
		position: relative;
		margin-top: 75px;

		@media(max-width: 769px) {
			margin-top: 24px;
		}

		&-wrapper {
			position: relative;
			margin-bottom: 128px;

			@media(max-width:1240px) {
				padding-bottom: 60px;
				margin-bottom: 40px;
			}
		}

		&-next,
		&-prev {
			--size: 80px;
			font-size: 22px;
			position: absolute;
			top: calc(50% - var(--size) / 2);
			z-index: 4;

			@media(max-width:1240px) {
				display: none;
			}
		}

		&-prev {
			left: 20px;
		}

		&-next {
			right: 20px;

			&:after,
			&:before {
				content: '';
				position: absolute;
				inset: -1px;
				border: inherit;
				animation: pulse-contur 2s infinite;
			}

			&:after {
				animation-delay: .5s;
			}
		}

		&-top {
			margin-left: auto;
			display: flex;
			align-items: center;

			@media(max-width:1240px) {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}

			@media(max-width: $sm) {
				justify-content: center;
			}

			&-prev {
				@media(max-width: $sm) {
					order: -10;
				}
			}

			&-next {
				@media(max-width: $sm) {

					// &:after,
					&:before {
						content: '';
						position: absolute;
						width: 20px;
						height: 20px;
						left: calc(50% - 10px);
						top: calc(50% - 10px);
						background: rgba(255, 255, 255, 0.25);
						border-radius: 50%;
						animation: pulse-contur 2s infinite;
					}

					&:after {
						animation-delay: .5s;
					}
				}

			}
		}

		&-pagination {
			display: flex;
			align-items: flex-end;

			@media(max-width: $sm) {
				margin-left: 6px;
				margin-right: 6px;
			}

			&-dots {
				display: flex;
				gap: 2px;
				padding-bottom: 4px;
				margin-left: 6px;
				margin-right: 6px;
			}

			&-dot {
				width: 29px;
				height: 3px;
				background: #505050;

				&.active {
					background: #A7A7A3;
				}
			}

			&-num {
				width: 18px;
				text-align: center;
			}
		}
	}

	&-item {
		position: relative;
		height: 800px;
		overflow: hidden;
		cursor: pointer;

		@media(max-width:1540px) {
			height: 600px;
		}

		@media(max-width:1240px) {
			height: 380px;
		}

		@media(max-width: $sm) {
			height: 268px;
		}

		&__img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;

			img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__content {
			position: relative;
			background-color: var(--color-black-40);
			z-index: 1;
			height: 100%;
			transition: .5s ease;

			@media(max-width: $sm) {
				padding: 10px 12px;
			}
		}

		&__title {
			@media(max-width:1540px) {
				font-size: 24px;
			}

			@media(max-width:1240px) {
				font-size: 18px;
			}

			@media(max-width: $sm) {
				font-size: 12px;
			}
		}

		&__desc {
			@media(max-width:1540px) {
				font-size: 14px;

				br {
					display: none;
				}
			}

			@media(max-width:1240px) {
				display: none;
			}
		}

		&__name {
			position: absolute;
			transform: rotate(-90deg);
			left: -10px;
			bottom: 70px;

			@media(max-width:1240px) {
				font-size: 14px;
			}

			@media(max-width: $sm) {
				display: none;
			}
		}

		&-zoom {
			position: absolute;
			--size: 80px;
			left: calc(50% - var(--size) / 2);
			top: calc(50% - var(--size) / 2);
			z-index: 3;

			--btn-color: var(--color-yellow);
			--btn-color-light: var(--color-yellow-50);
			--btn-text: #fff;

			@media(max-width: $sm) {
				display: none;
			}

			@media (hover) {
				&:hover {
					--btn-color: var(--color-yellow--dark);
					--btn-color-light: var(--color-yellow-40);
				}
			}

			img {
				pointer-events: none;
			}

		}

		&:not(:hover) &-zoom {
			transform: scale(0.5);
			opacity: 0;
			pointer-events: none;
		}

		&:hover &__content {
			transform: scale(1.5);
			opacity: 0;
		}
	}
}

.partners {
	&-title {
		margin-bottom: 116px;

		@media(max-width:1240px) {
			margin-bottom: 60px;
		}
	}

	&-slider {
		overflow: visible;

		.swiper-wrapper {
			transition-timing-function: linear;
		}
	}

	&-item {
		width: 280px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media(max-width: $lg) {
			width: 200px;
		}

		@media(max-width: $md) {
			width: 150px;
		}

		@media(max-width: $sm) {
			width: 110px;
		}
	}
}

.running-line {
	background: #FECC00;
	text-transform: uppercase;
	font-size: 25px;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	pointer-events: none;

	@media(max-width: $md) {
		font-size: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.swiper-wrapper {
		transition-timing-function: linear;
	}

	&-item {
		width: max-content;
		padding-left: 36px;
		border-left: 2px solid #000;
	}
}

.clipped-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}